<div class="search valign-wrapper">
    <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">search</i>
        <input id="search-bar-name" type="text" class="validate">
        <label for="search-bar-name">Search</label>
    </div>
</div>