<div class="col s12">
    <ul class="tabs">
        <li id="stats-tab" class="tab col s2"><a href="#stats">Stats</a></li>
        <li id="games-tab" class="tab col s2"><a href="#games">Games</a></li>
    </ul>
</div>

<div id="stats" class="col s12" style="height: 300pt;"></div>
<div id="games" class="col s12" style="height: 300pt;"></div>