<div class="col s12">
    <ul class="tabs">
        <li class="tab col s2"><a href="#wall">Wall</a></li>
        <li id="stats-tab" class="tab col s2"><a href="#stats">Stats</a></li>
        <li class="tab col s2"><a href="#history">History</a></li>
        <li class="tab col s2"><a href="#events">Events</a></li>
        <li class="tab col s2"><a href="#awards">Awards</a></li>
        <li id="games-tab" class="tab col s2"><a href="#games">Games</a></li>
    </ul>
</div>

<div id="wall" class="col s12"></div>
<div id="stats" class="col s12"></div>
<div id="history" class="col s12"></div>
<div id="events" class="col s12"></div>
<div id="awards" class="col s12"></div>
<div id="games" class="col s12"></div>