{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('notification_index') }}
{% endblock %}

{% block body %}
    <div class="container" id="notifications">
        {% if recruitments is not null and recruitments|length > 0 %}
            {% include "modules/front/notification/index/recruitment.html.twig" with {'recruitments': recruitments} %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('notification_index') }}
{% endblock %}