{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} page{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('team_show') }}
{% endblock %}


{% block body %}
    <div class="row">
        <div id="team-details" data-user-id="{{ team.id }}" class="col s12 m9 l9 xl9">
            {% include "modules/front/team/show/team_informations.html.twig" %}
        </div>

        <div class="col s12 m3 l3 xl3 right-align">
            {% if app.user %}

            {% endif %}
        </div>
    </div>

    <div class="row">
        {%  include "modules/front/team/show/team_tabs.html.twig" %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('team_show') }}
{% endblock %}