<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         colors="true"
         bootstrap="tests/setup/bootstrap.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="SYMFONY_PHPUNIT_VERSION" value="7.1"/>
        <env name="APP_ENV" value="test"/>
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/test.db"/>
        <env name="BOOTSTRAP_RESET_DATABASE" value="1"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
        <log type="coverage-xml" target="tests/logs/coverage.xml"/>
        <log type="junit" target="tests/logs/junit.xml"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/*/*Bundle/Resources</directory>
                <directory>./src/*/*Bundle/Tests</directory>
                <directory>./src/*/Bundle/*Bundle/Resources</directory>
                <directory>./src/*/Bundle/*Bundle/Tests</directory>
                <file>./src/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>