<div id="lastRecruitments" class="col s12 m12 l6">
    <h3>Last recruitments</h3>
    {% if lastRecruitments is empty %}
        No recruitments
    {% else %}
        <ul class="collection lastRecruitmentItems">
            {% for lastRecruitment in lastRecruitments %}
                <li class="collection-item avatar lastRecruitmentItem">
                    <div class="center-align col s12 m12">
                        <img class="circle" src="{{ lastRecruitment.user.avatar }}">
                    <span>
                        {{ lastRecruitment.user.username }} joined {{ lastRecruitment.organization.name }}
                    </span>
                        <img class="circle" src="{{ lastRecruitment.organization.logoPath }}">
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>