<div class="last-recruitments col s12 m12 l6">
    <h3>Last recruitments</h3>
    {% if lastRecruitments is empty %}
        No recruitments
    {% else %}
        <ul class="collection last-recruitment-items">
            {% for lastRecruitment in lastRecruitments %}
                <li class="collection-item avatar last-recruitment-item valign-wrapper">
                    <div class="col s3 m3 l3 center-align">
                        <img class="circle" src="{{ lastRecruitment.user.avatar }}">
                    </div>
                    <div class="col s6 m6 l6 center-align">
                        <span class="name">{{ lastRecruitment.user.username }}</span>
                        joined
                        <span class="name">{{ lastRecruitment.organization.name }}</span>
                    </div>
                    <div class="col s3 m3 l3 center-align">
                        <img class="circle" src="{{ lastRecruitment.organization.logoPath }}">
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>