<div class="game-detail">
    <div class="row">
        <div class="col l4 m4 s4">
            <img class="game-poster" src="{{ asset(game.posterPath) }}">
        </div>
        <div class="col l8 m8 s8">
            <p>{{ game.name }}</p>
            <p>{{ game.description }}</p>
        </div>
    </div>
</div>