{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('game') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'modules/game/gameDetail.html.twig' %}
    </div>
    <div class="row">
        {% include 'modules/game/teamList.html.twig' %}
        {% include 'modules/game/eventList.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game') }}
{% endblock %}