.job-detail {

  .job-detail-title {
    color: $purple-color;
    font-weight: bold;
  }

  .job-infos {
    color: $grey-color;
    font-weight: bold;
  }

  .preloader-wrapper {
    margin-left: 50%;
    margin-top: 25%;
  }

}