.sort {
  position: relative;

  .fixed-action-btn {
    position: unset !important;
    right: unset !important;
    bottom: unset !important;
    padding-top: unset !important;
    margin-bottom: unset !important;
    z-index: unset !important;
  }
}