<div class="container-fluid">
    <div class="row">
        <div class="col s12 m4 l4 xl4">
            test
        </div>
        <div class="col s12 m4 l4 xl4">

        </div>
        <div class="col s12 m4 l4 xl4">

        </div>
    </div>

    <div class="row">
        <div class="col s12 m4 l4 xl4">

        </div>
        <div class="col s12 m4 l4 xl4">

        </div>
        <div class="col s12 m4 l4 xl4">

        </div>
    </div>
</div>