<footer class="page-footer">
    <div class="container">
        <div class="row">
            <img class="col s12 m1 l1" src="{{ asset('build/images/logo.png') }}">
            <ul class="col s3 m2 l2 offset-m2 offset-l2">
                <li class="footer-category">
                    {% trans %}More informations{% endtrans %}
                </li>
                <li>{% trans %}About us{% endtrans %}</li>
            </ul>
            <ul class="col s3 m2 l2">
                <li class="footer-category">{% trans %}Games{% endtrans %}</li>
                {% for footerGame in footerGames %}
                    <li><a href="{{ path('app_game_index', {'slug' : footerGame.slug}) }}">{{ footerGame.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="col s3 m2 l2">
                <li class="footer-category">{% trans %}Sponsors{% endtrans %}</li>
                {% for footerSponsor in footerSponsors %}
                    <li>{{ footerSponsor.name }}</li>
                {% endfor %}
            </ul>
            <ul class="col s3 m2 l2">
                <li class="footer-category">{% trans %}Our social media{% endtrans %}</li>
                <li>
                    <a href="https://www.facebook.com"><i style="font-size:24px" class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i style="font-size:24px" class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © The Lag - 2018 All rights reserved
            <a class="grey-text text-lighten-4 right" href="">CGU/CGV</a>
        </div>
    </div>
</footer>