<nav>
    <div class="nav-wrapper">
        <a href="{{ path('app_home_index') }}" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ path('app_home_index') }}">Home</a></li>
            <li><a href="">Players</a></li>
            <li><a href="">Jobs</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">Recruitment</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Premium</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Sign in</a></li>
        </ul>
    </div>
</nav>