{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('game_show') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'modules/front/game/show/gameDetail.html.twig' %}
    </div>
    <div class="row">
        {% include 'modules/front/game/show/teamList.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game_show') }}
{% endblock %}