{% extends 'base.html.twig' %}
{% import "modules/macro/flash_message.html.twig" as flashes %}

{% block title %}{{ user.username }} profile edition{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_edit') }}
{% endblock %}

{% block body %}
    <h1>My Profile</h1>
    <div class="row user-info">
        {% include "modules/front/user/edit/avatar.html.twig" %}
        {% include "modules/front/user/edit/edit_form.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_edit') }}
{% endblock %}

