{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('users') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            {% include "modules/front/user/search_form.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 xl12 right-align">
            {% include "modules/front/user/sortable.html.twig" %}
        </div>
    </div>
    <div class="row">
        {% for user in users %}
            <div class="col s4 m4 l4 xl4">
                {% include "modules/front/user/user.html.twig" %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col s12 m12 l12 xl12">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('users') }}
{% endblock %}

