{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} profile{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_show') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div id="user-details" class="col s12 m9 l9 xl9">
            {% include "modules/front/user/user_profil_information.html.twig" %}
        </div>

        <div class="col s12 m3 l3 xl3 right-align">
            {% include "modules/front/common/action_member_buttons.html.twig" %}
        </div>
    </div>

    <div class="row">
        {% include "modules/front/user/user_profil_tab.html.twig" %}
    </div>


    {% include "modules/front/common/contact_member_modal.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_show') }}
{% endblock %}

