{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} profile{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_show') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div id="user-details" data-user-id="{{ user.id }}" class="col s12 m9 l9 xl9">
            {% include "modules/front/user/show/user_profil_information.html.twig" %}
        </div>

        <div class="col s12 m3 l3 xl3 right-align">
            {% if app.user %}
                {% include "modules/front/common/action_member_buttons.html.twig" %}
                {% include "modules/front/user/show/action_user_buttons.html.twig" %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% include "modules/front/user/show/user_profil_tabs.html.twig" %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_show') }}
{% endblock %}

