{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} profile{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s4 m4 l4 xl4">
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

