.lastResults {
  width: 40%;
  height: 60%;
  border: 1px solid #8959A8;
}

.lastResultsGameName {
  color: white;
  background-color: #8959A8;
}

.logo1 {
  width: 10%;
  height: 10%;
}

.logo2 {
  width: 10%;
  height: 10%;
}

.lastResultItem {

  border-bottom: 1px solid #8959A8;
}

.result {
  
}