.lastRecruitments {

  .lastRecruitmentItems {
    border: 1px solid #642891 !important;
  }

  .lastRecruitmentItem {
    border-bottom: none !important;
  }

  .name {
    font-weight: bold;
  }

}


