<div class="sort">
    {{ knp_pagination_sortable(users, 'Username', 'u.username') }}
    {{ knp_pagination_sortable(users, 'Followers', 'followers') }}
    {{ knp_pagination_sortable(users, 'Country', 'c.name') }}
</div>