<div class="row">
    <div class="col s12 m12 l12 xl12">
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img alt="Avatar" width="30" src="{{ asset(user.avatar) }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <span><strong>{{ user.username }}</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <img alt="Flag image" width="30" src="{{ asset(user.country.flagPath) }}">
                            <span>{{ asset(user.country.name) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

