<div id="rosters-list" class="container-fluid" style="margin-top:30px;">
    {% if app.user and app.user.organization.id == team.id and app.user.teamOwner %}
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                {% include "modules/front/team/show/tab/form/formCreateRoster.html.twig" with {'formCreateRoster': formCreateRoster} %}
            </div>
        </div>
        {% if team.rosters|length > 0 %}
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    {% include "modules/front/team/show/tab/form/formAddUserToRoster.html.twig" with {'formCreateRoster': formAddUserToRoster} %}
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% include "modules/front/team/show/tab/rosters.html.twig" with {'rosters': rosters } %}
</div>