<div class="col s4 m4 l4 xl4">
    <div class="row">
        <div class="col s12 m12 l12 xl12" style="text-align: center">
            <span>{{ roster.name|capitalize }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l12 m12 xl12">
            {% for user in roster.user %}
                <div class="row">
                    <div class="col s3 m3 l3 xl3">
                        <img alt="Avatar" style="width: 100px"  src="{{ asset(user.avatar) }}">
                    </div>
                    <div class="col s9 m9 l9 xl9">
                        <span>{{ user.username|capitalize }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>