{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('events') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'modules/front/events/search.html.twig' %}
    </div>
    <div class="row">
        {% include 'modules/front/events/lastEvents.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('events') }}
{% endblock %}