{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('event_show') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'modules/front/event/show/details.html.twig' %}
    </div>
    {% if app.user %}
        <div class="row">
            <button id="{{ event.id }}" class="btn join">
                {{ isJoined ? '<i class="material-icons">done</i>' : "Join" }}
            </button>
        </div>
    {% endif %}
    <div class="row">
        {% include 'modules/front/event/show/participants.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event_show') }}
{% endblock %}