nav {
  margin-bottom: 60px;
}

.nav-wrapper {
  background-color: black;
}

.nav-logo {
  margin-top: 10%;
  height: 75%;
  width: 60%;
}

.brand-logo {
  background: $grey-color;
  display: inline-block;
  height: 120%;
  margin-left: 20px;
  position: relative;
  width: 10%;
}

.brand-logo:before {
  border-left: 4.95vw solid transparent;
  border-right: 4.9vw solid transparent;
  border-top: 50px solid $grey-color;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  width: 0;
}

.nav-button {
  background-color: transparent;
  border: 2px solid $grey-color;
  border-radius: 10px;
}