<div class="sort">
    {{ knp_pagination_sortable(teams, 'Name', 't.name') }}
    {{ knp_pagination_sortable(teams, 'Followers', 'followers') }}
    {{ knp_pagination_sortable(teams, 'Country', 'c.name') }}
</div>