<div class="col s12">
    <ul class="tabs">
        <li id="members-tab" class="tab col s2"><a href="#members">Members</a></li>
        <li id="rosters-tab" class="tab col s2"><a href="#rosters">Rosters</a></li>
        <li id="event-tab" class="tab col s2"><a href="#events">Events</a></li>
    </ul>
</div>

<div id="members" class="col s12"></div>
<div id="rosters" class="col s12"></div>
<div id="events" class="col s12"></div>