<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
{#            <li><a href="{{ path('app_admin_statistic_index') }}">{% trans %}Statistics{% endtrans %}</a></li>#}
            <li><a href="{{ path('app_admin_user_list') }}">{% trans %}Users{% endtrans %}</a></li>
            <li><a href="{{ path('app_admin_game_list') }}">{% trans %}Games{% endtrans %}</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('app_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
        </ul>
    </div>
</nav>