{% extends 'dashboard.html.twig' %}
{% import "modules/macro/flash_message.html.twig" as flashes %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user_admin_list') }}
{% endblock %}

{% block body %}
    {{ flashes.get_success_messages() }}

    <div class="row">
        {% include 'modules/back/user/list/table.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_admin_list') }}
{% endblock %}
