<div class="search valign-wrapper">
    <div class="col l4 m4 s4">
        <button class="btn job-category disabled" id="work">Job</button>
        <button class="btn job-category" id="coaching">Coaching</button>
    </div>
    <div class="input-field col l4 m4 s4">
        <i class="material-icons prefix">search</i>
        <input id="search-bar-title" type="text" class="validate">
        <label for="search-bar-title">Search</label>
    </div>
    <div class="input-field col l4 m4 s4">
        <i class="material-icons prefix">room</i>
        <input id="search-bar-location" type="text" class="validate">
        <label for="search-bar-location">Location</label>
    </div>
</div>