.last-coachings {

  .card-content {
    background-color: #3A3B41;
  }

  .name {
    color: white;
    font-weight: bold;
  }

  .game-name {
    color: $light-purple-color;
    font-weight: bold;
  }

  .price {
    color: white;
  }

}