.last-jobs {

  .card {
    border-radius: 20px;
  }

  .title {
    color: $purple-color;
    font-weight: bold;
  }

  .date {
    font-weight: bold;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

}