<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}" sizes="32x32">
        <title>{% block title %}E-Sportial{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome
        .com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'modules/front/common/navbar.html.twig' %}

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% include 'modules/front/common/footer.html.twig' %}

        <script id="loading" data-prototype="{% include 'modules/front/common/loading.html.twig' %}"></script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
