<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}" sizes="32x32">
        <title>{% block title %}E-Sportial{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'modules/front/common/navbar.html.twig' %}

        <div class="container-fluid pl2 pr2">
            {% block body %}
            {% endblock %}
        </div>

        {% include 'modules/front/common/footer.html.twig' %}

        <script id="loading" data-prototype="{% include 'modules/front/common/loading.html.twig' %}"></script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
