<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}" sizes="32x32">
        <title>{% block title %}Dashboard{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        {% include 'modules/back/common/navbar.html.twig' %}

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block javascripts %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
