{% extends 'dashboard.html.twig' %}
{% import "modules/macro/flash_message.html.twig" as flashes %}

{% block stylesheets %}
    {{ encore_entry_link_tags('game_admin_list') }}
{% endblock %}

{% block title %}Dashboard - Games{% endblock %}

{% block body %}
    {{ flashes.get_success_messages() }}

    <div class="row">
        <div class="col s12 m12 l12 xl12">
            {% include 'modules/back/game/list/table.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game_admin_list') }}
{% endblock %}
