{% if app.user.id != user.id %}
    <div class="row">
        <a class="waves-effect waves-light btn modal-trigger" href="#contact-member-modal">
            <i class="material-icons left">local_post_office</i>
            Contact
        </a>
    </div>
{% endif %}

<div id="contact-member-modal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>Form ici</p>
    </div>
    <div class="modal-footer">
        <h4>Modal Footer</h4>
    </div>
</div>