{% if app.user %}
        {% if app.user.id != user.id %}
            <a class="waves-effect waves-light btn modal-trigger" href="#contact-member-modal">
                <i class="material-icons left">local_post_office</i>
                Contact
            </a>
        {% else %}
            <a href="{{ path("app_user_edit", {slug: app.user.slug}) }}" class="waves-effect waves-light btn">
                <i class="material-icons left">settings</i>
                Edit profile
            </a>
        {% endif %}
{% endif %}