#event-list {

  .infos {
    bottom: 0;
    position: absolute;
    width: 95%;
  }

  .preloader-wrapper {
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  a {
    color: black;
  }

  .card:hover {
    background-color: $grey-color;
    border: 1px solid $purple-color;
  }
}