.circleBase {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 1px solid black;
}
.circle-status-online {
  background: green;
}

.circle-status-offline {
  background: red;
}

@media only screen and (max-width: 992px) {
  .circleBase  {
    width: 20px;
    height: 20px;
  }
}
