{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('job_list') }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'modules/front/job/list/search.html.twig' %}
    </div>
    <div class="row">
        {% include 'modules/front/job/list/last_jobs.html.twig' %}
        {% include 'modules/front/job/list/job_detail.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('job_list') }}
{% endblock %}