{% macro get_messages() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro get_success_messages() %}
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro get_error_messages() %}
    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}
{% endmacro %}