{% macro online_status(online) %}
    {% if online %}
        <div class="circleBase circle-status-online">

        </div>
    {% else %}
        <div class="circleBase circle-status-offline">

        </div>
    {% endif %}
{% endmacro %}