{{ form_start(form) }}
<div class="row mb0">
    <div class="input-field col offset-m7 offset-l7 offset-xl7 s12 m5 l5 xl5">
        {{ form_widget(form.game) }}
        {{ form_label(form.game) }}
    </div>
</div>
{{ form_end(form) }}
